<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'foured.ItemName'}}" />
            </h1>
        </div>
        <div class="header-details flexrow">
            {{ debug data values }}
            {{> selectbox name="weaponType" value=data.weaponType.value options=values.weaponType }}
        </div>
    </header>
</form>